<footer class="mantle-bg">
  <div class="container">
    <section class="contacts">
      <a href="https://instagram.com/jorgeloch_">
        <img src="../../assets/instagram-logo.svg" alt="instagram logo" />
      </a>
      <a href="https://www.linkedin.com/in/jorge-mendon%C3%A7a-boaretto-loch">
        <img src="../../assets/linkedin-logo.svg" alt="linkedin logo" />
      </a>
      <a href="https://github.com/jorgeloch">
        <img src="../../assets/github-logo.svg" alt="github-logo" />
      </a>
    </section>
    <p>Copyright<span>&copy;</span> Jorge Loch</p>
  </div>
</footer>
